html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL STYLES
---------------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  min-width: 310px;
  max-width: 100%;
  font-family: "Pontano Sans", sans-serif;
  color: #47403F; }

input, button {
  border: none; }
  input:focus, button:focus {
    outline: none; }

.container {
  width: 100%; }

/* HEADER
---------- */
header {
  width: 100%;
  border-bottom: 2px solid #F2F2E9;
  box-shadow: 0px 0.3px 6px 0px #D9D7C5;
  overflow: hidden;
  padding: 15px; }
  header .innerHead {
    width: 80%;
    margin: auto; }
  header .logo {
    display: inline-block;
    float: left;
    width: 40%; }
    header .logo h2 {
      font-family: "Stint Ultra Expanded", cursive;
      margin: 0;
      font-size: 6em;
      color: #844862; }
      header .logo h2 i {
        font-size: .5em;
        padding-right: .5em; }
  header .headtext {
    display: inline-block;
    float: right; }
    header .headtext h3 {
      font-family: "Stint Ultra Expanded", cursive;
      font-size: 2em;
      color: #736766; }

/* MAIN CONTENT
---------------- */
.main {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .main::after {
    clear: both;
    content: "";
    display: table; }

/* NAME LIST LEFT SIDEBAR
--------------------------- */
.nameList {
  height: 100vh;
  background-color: #736766;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .nameList:last-child {
    margin-right: 0; }
  .nameList h4 {
    color: #F2F2E9;
    text-align: center;
    font-size: 2.5em;
    font-family: "Stint Ultra Expanded", cursive; }
  .nameList .sort {
    padding-left: 1em;
    width: 100%;
    overflow: hidden;
    margin: 2em 1em; }
  .nameList .circle {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: #F2F2E9;
    display: inline-block;
    clear: both;
    float: left;
    position: relative;
    transition: .15s all ease; }
    .nameList .circle:hover {
      background-color: #D9D7C5; }
  .nameList p {
    color: #F2F2E9;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin: 0.2em 0 0 1em; }
  .nameList ul {
    list-style: none;
    color: #F2F2E9;
    font-size: 2em;
    padding: 0;
    margin: 0;
    clear: both; }
    .nameList ul li {
      margin: 0;
      padding: .5em;
      cursor: pointer;
      transition: .15s all ease; }
      .nameList ul li:hover {
        background-color: #F2F2E9;
        opacity: .7;
        color: #47403F; }
    .nameList ul li:nth-child(odd) {
      background-color: #47403F; }
      .nameList ul li:nth-child(odd):hover {
        background-color: #F2F2E9;
        color: #47403F; }

/* SORT STYLE (sorted class added on click in JS)
-------------- */
.sorted .circle:before {
  position: absolute;
  font-family: FontAwesome;
  content: "\f13a";
  font-size: 2em;
  bottom: 2px;
  left: 4px;
  height: 80%;
  color: #844862; }

/* RIGHT PAGE
-------------- */
.rightpage {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .rightpage:last-child {
    margin-right: 0; }

/* Contact Info Form
--------------------- */
.form {
  padding-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .form::after {
    clear: both;
    content: "";
    display: table; }
  .form form {
    width: 100%;
    margin: auto; }
    .form form h4 {
      font-size: 2em;
      width: 100%; }
    .form form .name {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .form form .name:last-child {
        margin-right: 0; }
    .form form .mobile {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .form form .mobile:last-child {
        margin-right: 0; }
    .form form .address {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .form form .address:last-child {
        margin-right: 0; }
    .form form .web {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-right: 0; }
      .form form .web:last-child {
        margin-right: 0; }
    .form form input {
      border: 1px solid #D9D7C5;
      border-radius: .3em;
      padding: 7px;
      font-size: 1.5em;
      margin-bottom: 1em;
      width: 100%;
      color: #844862; }
    .form form button {
      margin: auto;
      border-radius: 4px;
      background-color: #844862;
      color: white;
      opacity: .9;
      border: none;
      display: block;
      clear: both;
      padding: .6em;
      width: 10em;
      font-size: 1.8em;
      transition: .15s all ease; }
      .form form button:hover {
        opacity: 1;
        color: white;
        padding: .8em;
        width: 11em; }

/* SELECTED CONTACT
-------------------- */
.selectedContact {
  width: 90%;
  height: 40em;
  margin: auto;
  border: 1px solid #D9D7C5;
  border-radius: .3em;
  clear: both; }

@media screen and (min-width: 600px) and (max-width: 1100px) {
  /* Contact Info Form
--------------------- */
  .form {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 31.22104%; }
    .form:last-child {
      margin-right: 0; }
    .form form h4 {
      font-size: 2em;
      width: 100%; }
    .form form .name {
      width: 100%; }
    .form form .mobile {
      width: 100%; }
    .form form .address {
      width: 100%; }
    .form form .web {
      width: 100%; }
  /* SELECTED CONTACT
-------------------- */
  .selectedContact {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 65.61052%;
    clear: none;
    margin-top: 4em; }
    .selectedContact:last-child {
      margin-right: 0; } }
