@media screen and (max-width: 900px) {

body {
  min-width: 490px;
}

/* HEADER
---------- */

header {

  .logo {
    display: block;

    h2 {
      font-size: 4em;
    }
  }

  .headtext {
    display: block;
    float: left;
    clear: both;

    h3 {
      font-size: 1em;
      margin-top: 0;
    }
  }
}

/* NAME LIST LEFT SIDEBAR
--------------------------- */

.nameList {

  h4 {
    font-size: 1.5em;
  }

  .sort {
    padding-left: .5em;
    margin-left: .3em;
  }

  .circle {
    height: 1.5em;
    width: 1.5em;
  }

  .sorted {
    font-size: .5em;

    &:before {
      left: 3px;
    }
  }

  p {
    font-size: 1em;
  }

  ul {
    font-size: 1.5em;

    li {
      padding: .7em;
    }

    .selected {
      padding-left: 1.3em;

      &::before {
        left: 2px;
      }
    }
  }
}

.noFoot {
  height: calc(100vh - 128px);
}

/* RIGHT PAGE
-------------- */

.rightpage {
  @include span-columns(9);
  height: 100vh;
}

/* Contact Info Form
--------------------- */

.form {

  h4 {
    font-size: 1.5em;
  }

  form {
    padding: 0;
    padding-bottom: .5em;

    input {
      font-size: 1em;
      padding: 3px;
    }

    button {
      font-size: 1em;
    }
  }
}

/* SELECTED CONTACT
-------------------- */

.selectedContact {
  @include outer-container(100%);
  clear: none;
  margin-top: 1em;

  .sc-left {
    @include fill-parent;

    .sc-fullname {
      font-size: 2em;
    }

    .sc-avatar {
      margin-top: 1em;
      margin: auto;

      .image {
        height: 7em;
        width: 7em;
        border-radius: 50%;
        overflow: hidden;
        background-color: $offwhite;
        margin: auto;
        margin-bottom: 1em;


        img {
          height: 8.2em;
        }
      }

      .sc-imageupload {
        width: 30%;
        margin: auto;
        margin-bottom: 1em;
        padding-right: 10px;
      }
    }

    .delete {
      margin: auto;
      width: 8em;
      height: 2em;

      p {
        font-size: 1em;
        padding: .3em;
      }
    }
  }

  .sc-middle {
    @include fill-parent;
    margin-top: .5em;
    font-size: 1.2em;
  }

  .sc-right {
    @include fill-parent;

    .googlemap {
      margin-top: 1em;
    }
  }
}


}
