@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";

/* DECLARATIONS
---------------- */

$stintfont: 'Stint Ultra Expanded', cursive;
$pontanofont: 'Pontano Sans', sans-serif;

$lightpurple: #E37CA8;
$purple: #844862;
$darkpurple: #522D3D;
$offwhite: #F2F2E9;
$grey: #D9D7C5;
$darkgrey: #736766;
$darkergrey: #5C5251;
$red: #B63144;

/* MIXINS
---------- */

@mixin border ($color) {
  border: 1px solid $color;
  border-radius: .3em;
}

@mixin inputs () {
  display: inline-block;
  float: left;
  margin-right: 1em;
}

@mixin transition () {
  transition: .15s all ease;
}

@mixin boxshadow () {
  -webkit-box-shadow: 0px .3px 6px 0px $grey;
  -moz-box-shadow: 0px .3px 6px 0px $grey;
  box-shadow: 0px .3px 6px 0px $grey;
}


/* GLOBAL STYLES
---------------- */

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  min-width: 310px;
  max-width: 100%;
  font-family: $pontanofont;
  color: $darkergrey;
}

input, button {
  border: none;

  &:focus {
    outline: none;
  }

}

.container {
  width: 100%;
}

a {
  text-decoration: none;
  color: $lightpurple;

  &:hover {
    text-decoration: underline;
  }
}

/* HEADER
---------- */


header {
  width: 100%;
  border-bottom: 2px solid $offwhite;
  @include boxshadow;
  overflow: hidden;
  padding: 0;

  .innerHead {
    width: 80%;
    margin: auto;
  }
  .logo {
    display: inline-block;
    float: left;
    width: 40%;

    h2 {
      font-family: $stintfont;
      margin: 0;
      font-size: 6em;
      color: $purple;

      i {
        font-size: .5em;
        padding-right: .5em;
      }
    }


  }
  .headtext {
    display: inline-block;
    float: right;

    h3 {
      font-family: $stintfont;
      font-size: 2em;
      color: $darkgrey;
    }
  }
}

/* MAIN CONTENT
---------------- */

.main {
  width: 100%;
  @include outer-container(100%);
}

/* NAME LIST LEFT SIDEBAR
--------------------------- */

.nameList {
  background-color: $darkgrey;
  @include span-columns(3);

  h4 {
    color: $offwhite;
    text-align: center;
    font-size: 2.5em;
    font-family: $stintfont;
  }

  .sort {
    padding-left: 1em;
    width: 90%;
    overflow: hidden;
    margin: 2em 1em;
    border-bottom: 1px solid $offwhite;
    padding-bottom: 2em;
  }

  .circle {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    background-color: $offwhite;
    display: inline-block;
    clear: both;
    float: left;
    position: relative;
    @include transition;
    margin-bottom: 1em;

    &:hover {
      background-color: $grey;
    }
  }

  p {
    color: $offwhite;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin: .2em 0 0 1em;

  }

  ul {
    list-style: none;
    color: $offwhite;
    font-size: 2em;
    padding: 0;
    margin: 0;
    clear: both;

    li {
      margin: 0;
      padding: .5em;
      padding-left: 1em;
      cursor: pointer;
      @include transition;
      position: relative;

      &:hover {
        background-color: $offwhite;
        opacity: .7;
        color: $darkergrey;
      }
    }

    .selected {
      background-color: $offwhite;
      opacity: .7;
      color: $darkergrey;
      padding-left: 2em;

      &::before {
        font-family: FontAwesome;
        content: '\f138';
        position: absolute;
        left: 16px;
        top: 13px;
        color: $purple;
      }

    }
  }

  footer {
    overflow: hidden;
    background-color: $darkergrey;
    font-size: .8em;
    height: 40px;
    padding: .3em;
  }
}

.noFoot {
  height: calc(100vh - 143px);
}

/* SORT STYLE
-------------- */

.sorted {
  &:before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f13a";
    font-size: 2em;
    bottom: 2px;
    left: 4px;
    height: 80%;
    color: $purple;
  }
}

/* RIGHT PAGE
-------------- */

.rightpage {
  @include span-columns(9);
  height: 100vh;
}

/* Contact Info Form
--------------------- */

.form {
  margin-bottom: 2em;
  width: 100%;
  @include outer-container(90%);
  border-bottom: 1px solid $grey;

  h4 {
    font-size: 2em;
    margin: .8em;
    display: inline-block;
    float: left;
  }

  .alert {
    margin-top: .5em;
    color: $red;
    font-size: 1.7em;
    float: left;
    padding: .2em;
    display: none;

    i {
      font-size: 1.8em;
      padding-right: .2em;
    }
  }

  .show {
    display: inline-block;
  }


  form {
    width: 100%;
    margin: auto;
    padding: 1.5em;
    clear: both;

    .name {
      @include span-columns(3);
    }

    .mobile {
      @include span-columns(3);
    }

    .address {
      @include span-columns(3);
    }

    .web {
      @include span-columns(3);
      @include omega();
    }

    input {
      // display: block;
      @include border($grey);
      padding: 7px;
      font-size: 1.5em;
      margin-bottom: 1em;
      width: 100%;
      color: $purple;
    }
    button {
      margin: auto;
      border-radius: 4px;
      background-color: $purple;
      color: $offwhite;
      opacity: 1;
      border: none;
      display: block;
      clear: both;
      padding: .3em;
      width: 7em;
      font-size: 1.8em;
      @include transition;

      &:hover {
        background-color: $lightpurple;
        padding: .5em;
        width: 8em;
      }
    }
  }
}

/* SELECTED CONTACT
-------------------- */

.selectedContact {
  width: 90%;
  margin: auto;
  clear: both;
  overflow: hidden;
  @include border($grey);
  @include boxshadow;
  @include outer-container(100%);
  padding: 3em;

  .sc-left {
    @include span-columns(3);
    overflow: hidden;

    .sc-fullname {
      font-size: 3em;

      p {
        margin-top: 0;
        margin-bottom: 1em;
        margin: auto;
        text-align: center;
      }
    }

    .sc-avatar {
      margin-top: 2em;

      .image {
        height: 10em;
        width: 10em;
        border-radius: 50%;
        overflow: hidden;
        background-color: $offwhite;
        margin: auto;
        margin-bottom: 3em;

        img {
          padding: 0;
          height: 11.5em;
        }
      }
    }

    .imageInputs {
      width: 100%;
    }

    .sc-imageupload {
      border-radius: 4px;
      color: $darkergrey;
      border: none;
      display: block;
      padding: .3em;
      font-size: 1em;
      @include transition;
      background-color: $offwhite;
      @include border($grey);
      width: 80%;
      margin: auto;
      margin-bottom: 1em;
    }
  }

  .sc-middle {
    @include span-columns(3);
    overflow: hidden;
    margin-top: -8px;
    font-size: 1.4em;
  }

  .sc-right {
    @include span-columns(6);
    @include omega();
    overflow: hidden;

    .googlemap {
      height: 25em;
      width: 100%;
      background-color: $grey;
    }

  }

  .delete {
    clear: both;
    background-color: $darkgrey;
    width: 16em;
    height: 4em;
    border-radius: 4px;
    text-align: center;
    color: $offwhite;
    margin: auto;
    cursor: pointer;
    margin: auto;
    margin-top: 1em;

    &:hover {
      background-color: $red;
    }

    p {
      font-size: 1.7em;
      text-align: center;
      color: $offwhite;
      padding: 9px;
      margin: 0;
    }
  }

  .deletedResponse {
    margin-top: 2em;
    width: 50%;
    margin: auto;
    font-size: 5em;
    color: $purple;
    text-align: center;

    i {
      font-size: 3em;
    }
  }

}




@import "_small";
@import "_medium";
